<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>investimentos</title>
	<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='css/main.css') }}">
	
</head>

<body>
	
  <header> 
	  <h1>Simulador de Investimentos</h1>
  </header>

  <div>
    <h1>Login</h1>
  </div>

  <div>
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      {{ form.username }}
      {{ form.password }}
      {{ form.submit }}
    </form>
  </div>

  <div>
    <a href="{{ url_for('cadastro') }}">Ainda não é cadastrado? Faça seu cadastro!</a>
  </div>

</body>

</html>
